<button
  mat-raised-button
  color="primary"
  (click)="showTodayOrdes()"
  class="openOrders"
  [routerLink]="['order-list']"
>
  Zamówienia do realizacji
</button>

<ng-container *ngIf="todayOrders">
  <div class="orderBox">
    <div *ngFor="let order of orders$ | async">
      <div class="name" *ngIf="order.orders">
        <p>{{ order.name }}</p>
      </div>
      <div class="order" *ngFor="let orderDetails of order.orders">
        <p>
          zamówienie: {{ orderDetails.flavour }} | {{ orderDetails.amount }}
        </p>
        <P>data: {{ orderDetails.date }}</P>
      </div>
    </div>
  </div>
</ng-container>

