<button
  mat-raised-button
  color="primary"
  class="listButton"
  (click)="showPorducts()"
>
  pokaż listę
</button>

<ng-container *ngIf="showProduct">
  <div class="productList">
    <h2>Jednostki</h2>
    <div class="amount">
      <br />
      <ng-container *ngIf="productsAmount$ | async as productsAmount">
        <div class="item" *ngFor="let product of productsAmount">
          <p>{{ product.value }}</p>
          <button
            mat-fab
            color="warn"
            (click)="removeAmount({ value: product.value })"
          >
            X
          </button>
        </div>
      </ng-container>
    </div>
    <h2>Smaki</h2>
    <div class="flavours">
      <br />
      <ng-container *ngIf="productsFlavour$ | async as productsFlavour">
        <div class="item" *ngFor="let product of productsFlavour">
          {{ product.name }}
          <button mat-fab color="warn" (click)="removeFlavour(product)">
            X
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
