<div class="container">
  <button mat-raised-button color="primary" class="btn" (click)="showUser()">
    <mat-icon>add_circle_outline</mat-icon> Pokaż klientów
  </button>
  <ng-container *ngIf="show">
    <div class="modal">
      <table>
        <thead>
          <tr>
            <th>Imię</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody *ngFor="let res of users$ | async">
          <td>{{ res.name }}</td>
          <td>{{ res.email }}</td>
        </tbody>
      </table>
    </div>
  </ng-container>
</div>
