<div class="container">
  <button
    mat-raised-button
    color="primary"
    class="showUserBtn"
    (click)="showUser()"
    [routerLink]="['user-list']"
  >
    <mat-icon class="users">supervised_user_circle</mat-icon>
  </button>
  <ng-container *ngIf="show">
    <div class="modal">
      <table>
        <thead>
          <tr>
            <th>Imię</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody *ngFor="let res of users$ | async">
          <td>
            {{ res.name }}
          </td>
          <td>{{ res.email }}</td>
        </tbody>
      </table>
    </div>
  </ng-container>
</div>
