<button
  mat-raised-button
  color="primary"
  (click)="showTodayOrdes()"
  class="openOrders"
  [routerLink]="['order-list']"
>
  Dzisiejsze zamówienia
</button>

<ng-container *ngIf="todayOrders">
  <div class="orderBox">
    <div *ngFor="let ord of orders$ | async">
      <div class="name" *ngIf="ord">
        <p>{{ ord | json }}</p>
      </div>
      <!-- <div class="order" *ngFor="let o of ord">
        <P>zamówienie: {{ o.flavour }} | {{ o.amount }}</P>
        <P>data: {{ o.date }}</P> -->
      </div>
    </div>
  <!-- </div> -->
</ng-container>
<div *ngIf="showErr" class="showErr">
  <h1>Brak zamówień na dziś</h1>
</div>
