<app-header></app-header>

<div class="addUser">
  <app-adduser></app-adduser>
</div>

<app-user-list></app-user-list>
<app-addproduct></app-addproduct>

<div class="orderList">
  <h2>nowe zamówienia</h2>
  <div *ngFor="let res of users$ | async">
    <div *ngIf="res.orders">
  <div class="order">
  <h4>{{res.name}}</h4>
  <ng-container *ngFor="let ord of res.orders">
    <p>smak: {{ord.flavour}}</p>
    <p>ilość: {{ord.amount}}</p>
    <p>data zamówienia: {{ord.date}}</p>
  </ng-container>
</div>

</div>
</div>

</div>

<!-- <button (click)="getData()">pobierz</button> -->

<!-- <div class="mainList">
  <h2>Smaki</h2>
  <div *ngFor="let flav of flav$ | async">
    <p>{{ flav.name}}</p>
  </div>
  <h2>Dostępne pojemności</h2>
  <div *ngFor="let amout of amount$ | async">
    {{ amout.value}}
  </div>
</div> -->

