/* You can add global styles to this file, and also import other style files */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62,5%;
}

body{
  background-image: url("./app/shared/images/ice-cream-5928043_1920.jpg");
}

.container{
  margin: 0 auto;
  max-width: 1440px;
}

