/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62, 5%;
  overflow: hidden;
}

body {
  position: relative;
  height: 100vh;
  background: rgb(176, 173, 241);
  background: linear-gradient(
    140deg,
    rgba(176, 173, 241, 1) 0%,
    rgba(152, 216, 235, 1) 49%,
    rgba(157, 238, 255, 1) 100%
  );
  background-color: #fff;
  font-family: Lato, sans-serif;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}
